* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipe-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: aqua;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}