@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slick-track {
    overflow-y: hidden;
}

.slick-slide {
    margin: 0 2px;
}