@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.slick-track {
  overflow-y: hidden;
}

.slick-slide {
  margin: 0 2px;
}
