@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
  perspective: 1000px;
  margin: auto;
}

.face {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  transform: rotateY(0deg) translateZ(150px);
}

.back {
  transform: rotateY(180deg) translateZ(150px);
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.right {
  transform: rotateY(90deg) translateZ(150px);
}

.top {
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.behind {
  transform: rotateY(-180deg) translateZ(150px);
}


@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.6s linear;
}

.face img:hover {
  transform: translateY(-20px);
}

@media screen and (max-width: 640px) {
  .cube {
    width: 100px;
    height: 100px;
  }

  .face {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .front {
    transform: rotateY(0deg) translateZ(50px);
  }

  .back {
    transform: rotateY(180deg) translateZ(50px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(50px);
  }

  .right {
    transform: rotateY(90deg) translateZ(50px);
  }

  .top {
    transform: rotateX(90deg) translateZ(50px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(50px);
  }

  .behind {
    transform: rotateY(-180deg) translateZ(50px);
  }

}

@media (min-width: 1280px) {
  #contact {
    display: grid;
    grid-template-columns: auto auto;
  }

  .cube {
    grid-area: 1/2/2/3;
  }
}

/* Light mode background for nav-bar */
.light-nav {
  background: radial-gradient(circle, rgb(104, 99, 99), rgb(146, 140, 140), rgb(104, 99, 99));
}

/* Dark mode background for nav-bar */
.dark-nav {
  background: radial-gradient(circle, rgb(34, 34, 34), rgb(56, 56, 56), rgb(34, 34, 34));
}
/* Background for introductory content*/
.bg-light-gradient {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 200, 200, 0.3), rgba(200, 200, 255, 0.2), rgba(0, 0, 0, 0.2));
}

.bg-dark-gradient {
  background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(20, 20, 20, 0.9), rgba(40, 40, 40, 0.8), rgba(0, 0, 0, 0.7));
}

/* Background for main content*/
.light {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
}

/* Styling the footer */

.bg-gradient-130 {
  background-image: linear-gradient(130deg, rgb(36, 29, 44), rgb(26, 38, 46), rgb(8, 29, 54));
  /* Light mode colors */
}

.bg-gradient-130-dark {
  background-image: linear-gradient(130deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
  /* Dark mode colors */
}