@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-image {
    animation: rotate 9s linear infinite;
}