.main {
    position: relative;
    background-color: rgba(150, 150, 150, 1);
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15) inset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
.die-face:hover{
    opacity: 0.7;
}

.die-num {
    font-size: 2rem;
    background-color: blueviolet;
}

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.roll-dice:hover {
    background-color: #4638a0;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die-one,
.die-two-content,
.die-three-content,
.die-four-content,
.die-five-content,
.die-six-content {
    background-color: blue;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.die-two-container {
    display: flex;
    gap: 5px;
}

.die-three-container {
    display: flex;
    gap: 3px;
    transform: rotateZ(-50deg);
}

.die-four-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.die-five-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 8px auto;
    gap: 5px;
}

.die-five-content-area {
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.die-six-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.time-roll {
    position: absolute;
    left: 10px;
    bottom: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.time-roll>p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(110, 10, 240);
}

.off-roll {
    /* Styles for Tenzies state */
    background-color: rgba(233, 7, 82, 0.7); /* Light pink with opacity */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.off-roll p {
    color: #ffffff; /* White text for paragraphs */
}


.nav-bar-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    margin-bottom: 50px;
    background-color: aqua;
    height: 60px;
}

.nav-bar-header>a {
    text-decoration: none;
    font-weight: bold;
}

.nav-bar-header>a:hover {
    color: #e90752;
}

.active {
    color: #e90752;
}

.pending {
    color: rgba(90, 90, 90, 1);
}


@media (max-width: 600px) {
    .dice-container {
        gap: 10px;
        margin-bottom: 20px;
    }

    .die-face {
        height: 33px;
        width: 33px;
    }

    .die-one,
    .die-two-content,
    .die-three-content,
    .die-four-content,
    .die-five-content,
    .die-six-content {
        height: 5px;
        width: 5px;
    }

    .roll-dice {
        height: 30px;
        width: 130px;
        font-size: 1rem;
        margin-bottom: 60px;
    }


}